body {
  text-align: center;
  background-color: #283149;
  background-image: url("r.-pink-smoke-design-template-6bdb64f28929be7bc24430788d18675a_screen.jpg");
  background-position: center;
  background-size: cover;


}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("cat jam1.gif");
background-position: center;
background-size: cover;

}

.q {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;

}

.e {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;
}

.u {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;
}

.i {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;
}

.o {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;
}

.r {
  background-image: url("cat jam1.gif");
  background-position: center;
  background-size: cover;
}

.s {
  background-image: url("coffin.gif");
  background-position: center;
  background-size: cover;
}
.a {
  background-image: url("giphy (1).gif");
  background-position: center;
  background-size: cover;
}
.f {
  background-image: url("persona.gif");
  background-position: center;
  background-size: cover;
}
.d {
  background-image: url("putin.gif");
  background-position: center;
  background-size: cover;
}
.j {
  background-image: url("undertale.gif");
  background-position: center;
  background-size: cover;
}
.k {
  background-image: url("undertale.gif");
  background-position: center;
  background-size: cover;
}
.l {
  background-image: url("undertale.gif");
  background-position: center;
  background-size: cover;
}
.h {
  background-image: url("cat.gif");
  background-position: center;
  background-size: cover;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.cat1 {
  text-align: left;
}
.brum {
  outline: none;
  border: 5px solid #404B69;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 1;
  font-weight: 450;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 10px;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.trum {
  outline: none;
  border: 7px solid #404B69;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 550;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 12px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.arum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 1rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
